
<div class="calculator">
  <h1>Calculate your potential sales increase from a mobile responsive website</h1>
  <div>Enter the percentage of visitors who are mobile:
    {{input value=mobilePercent type='text' class="percent"}}%
  </div>
  <div>Enter your sites total revenue: 
    {{input value=revenue type='text' class="revenue"}}
  </div>
  <br />
  <div>
    Your current mobile revenue: {{dollarFormat currentMobileRevenue}}
  </div>
  <div>
    Your potential mobile revenue: {{dollarFormat potentialMobileRevenue}}
  </div>
  <br />
  <div>
    Your potential sales increase from responsive design:
    <span id="potential-gains">{{dollarFormat potentialGains}}</span>
  </div>
</div>
<footer>
  These numbers are an approximation based off of typical conversion factors for PC and mobile sites.<br/>
  This tool assumes the value for PC conversions to be {{input value=pcConversionRate type="text" class="percent"}}%, responsive mobile conversions to be {{input value=responsiveMobileConversionRate  type="text" class="percent"}}%, and non-responsive mobile conversions to be {{input value=nonresponsiveMobileConversionRate  type="text" class="percent"}}%.
</footer>
